<page-body>
    <page-header header>
        <span title>Lista documenti</span>
        <span subTitle>Elecno</span>
    </page-header>

    <mat-list dense *ngIf="(peiDocuments$ | async) as docs; else loading" body>
        <mat-list-item *ngFor="let doc of docs">
            {{doc.Scuola}}
        </mat-list-item>
    </mat-list>

    <!-- Loading template -->
    <ng-template #loading>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Loading...</div>
        </div>
    </ng-template>

</page-body>